$main-font-family: 'Astloch';
$main-font-size-value: 1;
$main-font-size:$main-font-size-value * 1.5rem;
$main-font-color: rgb(209, 166, 47);
$main-block-width-value: 90;
$main-block-width: $main-block-width-value * 1%;
$max-width-value: 780;
$max-width: $max-width-value * 1px;
$main-background-color: rgb(0, 0, 0);
$content-width-value: 100%;
$content-width: $content-width-value;
$img-max-width-value: 100%;
$img-max-width: $img-max-width-value;

@mixin center{
	display: block;
	margin: auto;
	padding: 0;
}

*{
	box-sizing: border-box;
}

h1{
	font-size: $main-font-size * 1.5;
	text-align: center;
	font-weight: bold;
}

h2{
	font-size: $main-font-size * 1;
	text-align: center;
	font-weight: bold;
}

h2:nth-of-type(2n){
	padding-top: 5%;
}

/*Interpolation*/
$bg: background;

#content, fieldset, form, #output{
	#{$bg}-color: lighten($main-background-color, 15%);
	padding: 2%;
	border: 2px solid rgb(209, 166, 47);
	border-radius: 25px;
}

p{
	text-align: center;
	font-weight: bold;
}

p a{
	color: $main-font-color;
	text-decoration: underline;
}

html{
	font-family: $main-font-family;
    font-size: $main-font-size;
    color: $main-font-color;
}

body{
	width: $main-block-width;
	background: $main-background-color;
	@include center;
	height: 100%;
}

img{
	max-width: $img-max-width;
	@include center;
}

#gallery{
	img{
		max-width: 49%;
		display:inline-block;
	}
}

footer{
	text-align: center;
}

/*Gif background and positioning*/
#gif {
	position: fixed;
	width: 100px;
	height: 150px;
	right: 0%;
	top: 1%;
	background-image: radial-gradient(rgba(160, 160, 160, 1) 15%,  rgba(120, 120, 120, 0) 85%);
}

/*Positioning of the gif (sadly scss has no working way for gifs like it has for imgs (background-img)*/
#arokh_flying {
	position: fixed;
	width: 100px;
	right: 0%;
	top: 3%;
}

@media screen and (max-width: 1199px){
    img{
		width: 99%;
	}

	#gallery{
		img{
			padding: 4px;
			max-width: 100%;
		}
	}

	#gif {
		visibility: hidden;
	}

	#arokh_flying {
		visibility: hidden;
	}
}
