@import 'base';
$img-max-width-value: 49%;
$img-max-width: $img-max-width-value;


@function img-url(){
	@return './data/';
}

#gallery{
    img{
        max-width: $img-max-width;
    }
    @include center;
}

/*Mediaquery*/